* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
}

body {
  background-color: white;
}

header {
  background-color: #29520a;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 12px;
  text-transform: capitalize;
  font-size: 11px;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: white;
}

.home_section {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0 5%;
  color: #29520a;
}

.home_section img {
  width: 100%;
  height: 220px;
  margin: 40px auto 80px;
}

.home_section h1 {
  font-size: 36px;
}

.home_section h1 span {
  text-decoration: underline;
}

.home_section p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 40px;
}

.content {
  margin-top: 60px;
  padding: 0 2%;
  min-height: 570px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto 10px;
  width: 60%;
}

form input {
  width: 100%;
  border: 0;
  font-size: 14px;
  border-bottom: 1px solid #29520a;
  color: #29520a;
  margin-bottom: 4px;
  background-color: transparent;
  padding: 2px;
}

form input:focus {
  outline: none;
}

form p {
  color: #29520a;
  font-size: 12px;
}

.content h1 {
  text-align: center;
  font-size: 24px;
  color: #29520a;
}

.content span {
  font-size: 20px;
}

.content section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 50px;
}

.content h4 {
  text-align: center;
  margin-top: 10px;
  color: #29520a;
  font-weight: lighter;
}

.card {
  background-color: white;
  align-items: center;
  width: 48%;
  padding: 4px 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
  color: #29520a;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;
}

.card p {
  font-size: 13px;
  text-align: center;
  margin: 8px 0;
  color: #e11616;
  line-height: 14px;
}

.card h3 {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: lighter;
}

.card h4 {
  font-size: 13px;
}

.card img {
  height: 60px;
  width: 90%;
  margin: 3px 0;
}

.card form {
  width: 100%;
  padding: 2px 7px;
}

.card form label {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 12px;
}

.card form input {
  width: 26%;
  font-size: 12px;
  border-bottom: 1px solid #29520a;
  color: #29520a;
}

.card form input[type=number] {
  margin-left: 5px;
}

.card form input[type=checkbox] {
  margin: -8px;
}

.card form button {
  border: none;
  margin: 4px auto 0;
  background-color: #e11616;
  width: 50%;
  color: white;
  padding: 2px 0;
  font-size: 11px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.etiquetas-plu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.etiquetas-plu h4 {
  margin: 0;
  color: #29520a;
  font-weight: bold;
}

.etiquetas-plu span {
  font-size: 15px;
  cursor: pointer;
}

.etiquetas {
  display: flex;
  flex-direction: column;
}

.etiquetas label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  margin-bottom: 7px;
}

.oferta {
  background-color: rgb(225, 117, 35);
}

.normal {
  background-color: rgb(35, 225, 67);
}

.etiquetas label p {
  font-size: 14px;
  max-width: 33ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

footer {
  text-align: center;
  width: 100%;
  padding: 12px 0;
  background-color: #29520a;
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 280px) {
  .home_section {
    margin-bottom: 15px;
  }
  footer p {
    font-size: 10px;
  }
  .card form button {
    width: 80%;
  }
  .card form input[type=checkbox] {
    margin: -3px;
  }
}

@media screen and (min-width: 700px) {
  .home_section {
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .home_section img {
    width: 50%;
    margin: 0;
    margin-left: 10px;
  }
  .card {
    background-color: #f1ece5;
    align-items: center;
    width: 22%;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

